<div id="content" class="container">
  <div class="row">
    <div class="span6 offset3 login">
      <h2>Create your account</h2>
      <p>Enter the details below and click Register.</p>

      <%= form_tag '/auth/identity/register' do %>
        <% if @tidepool_identity && @tidepool_identity.errors.any? %>
          <div class="error_messages">
            <h3><%= pluralize(@tidepool_identity.errors.count, 'error') %> prohibited this account from being saved:</h3>
            <ul>
            <% @tidepool_identity.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= text_field_tag :name, @tidepool_identity.try(:name), :placeholder => 'Name', :class => 'span4 offset1' %>
        <%= text_field_tag :email, @tidepool_identity.try(:email), :placeholder => 'E-mail', :class => 'span4 offset1' %>
        <%= password_field_tag :password, nil, :placeholder => 'Password', :class => 'span4 offset1' %>
        <p class="gender">
          <strong>Gender:</strong> 
          <%= radio_button_tag :gender, :male, true %> 
          <%= label_tag :male, 'Male' %>
          <%= radio_button_tag :gender, :female %>
          <%= label_tag :female, 'Female' %>
        </p>
        <br/>
        <%= submit_tag @submit_text, :class => 'btn btn-primary btn-large' %>
      <% end %>
    </div>
  </div>
</div>