<%= render 'layouts/header' %>

<div id="content" class="container">
</div>

<%= render 'layouts/footer' %>

<%=  content_for :stylesheet do -%>
    <%= stylesheet_link_tag    "assessments/application", :media => "all" %>
    <!-- Adobe Edge Fonts -->
    <script src="http://use.edgefonts.net/open-sans.js"></script>
<% end %>

<%= content_for :javascript do -%>
    <script type="text/json" id="bootstrap">
      {
      "assessment": <%= AssessmentSerializer.new(@assessment).to_json %>
      }
    </script>
    <%= javascript_include_tag "assessments/application" %>
    <script type="text/javascript">
        $(function () {
            var div = $('<div></div>');
            div.html($('#bootstrap').text());
            var data = JSON.parse(div.text());

            $(".alert-message").alert();
            window.setTimeout(function() { $(".alert-message").alert('close'); }, 2000);

            TestService.initialize(data);
        });
    </script>
<% end %>